PORT=3000
NODE_ENV=production

DB_HOST=__POSTGRES_HOST__
DB_PORT=5432
DB_NAME=__POSTGRES_DATABASE__
DB_USER=__POSTGRES_USER__
DB_PASSWORD=__POSTGRES_PASSWORD__

FRONTEND_ORIGIN=__FRONTEND_PUBLIC_URL__

AUTH_SESSION_TTL_HOURS=12

SMARTOLT_API_URL=__SMARTOLT_API_URL__
SMARTOLT_API_KEY=__SMARTOLT_API_KEY__

POCKETBASE_URL=
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
